@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    margin:0;
    padding:0;
}


/*=============================* navbar*/
.container-fluid{
    background-color: #D91F27 !important;
/*    height: 10vh;*/
    position:relative;
}
.navbar-brand{
    height:30px;
}

#header-navbar {
    background-color: #D91F27 !important;
    position: relative;
    height: 8dvh;
    display: flex;
    align-items: center;
/*    justify-content: center;*/
}


#header-navbar button{
    background-color: #D91F27;
    color: #fff;
    position: relative;
}
.menu-toggle {
    font-size: 24px;
    color: white;
    border: none;
    background: none;
}



/*=============================* sidebar both*/
.feedback-btn{
    color:#3D4586;
    border-radius: 45px;
    position:relative;
}
.feedback-btn:hover{
    font-weight: bold;
    color:#3D4586;
}
.feedback-btn-img{
    width:20px;
    position: absolute;
    top:7px;
    left:15px;
/*    background-color:green;*/
/*    bottom:0px;*/
}

#logo-primary-small-screen{
    display: none;
}


/*=============================* sidebar for Offcanvas*/
#offcanvasSidebar{
    width:250px;
    height: 100dvh;
}

#offcanvas-header{
    position:relative;

}
#offcanvas-header img{
    width: 80%;
    margin-left: 3% !important;
}
#offcanvas-header button{
    position: absolute;
    right:3%;
    top:50%;
    width: 15px;
    color:#000 !important;
/*    background-color: lightblue !important;*/
}
#offcanvas-bnt-feedback{
    position:relative;
/*    background-color:#fff;*/
}
#offCanvasCloseButton{
/*    width:10%;*/
/*    font-weight: bold;*/
/*    color:black;*/
    background-color: lightgray;
}
/*=============================* sidebar for larger screen*/
.sidebar{
    background-color: #D91F27;
    height: 92dvh;
}
#sidebar-larger-screen{
    width:20%;
    position: relative !important;
/*    padding: 20px !important;*/
}
#sidebar-larger-screen>img{
    position:absolute;
    top:0;
    width:90%;
    left:5%;

}
#feedback-larger-screen{
/*    margin-top:50vh;*/
    position: absolute;
    background-color: #D91F27;
    left:0;
    bottom:5dvh;
    width: 90%;
    margin-left:5%;

}
#intro-header{
/*    font-size: 14px !important;*/
    font-weight: 300 !important;
}


/*=============================* main content - SIS*/
#wrap-main-content{
    font-family: 'Plus Jakarta Sans', sans-serif;
/*    background-color: lightcyan;*/
    width: 65dvw !important;
    padding:30px;
    box-sizing: border-box;
/*    padding-bottom:20px;*/
    position: relative;
}

#wrap-main-content h1{
    margin-bottom: 5%;

}
#chat-dialog-UI{
/*    background-color: darkgreen;*/
/*    width: 100%;*/
    position: relative;
/*    height: 500px;*/
    box-sizing: border-box;
}

#intro-descr{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


/*----------awarding body button----------*/
#wrap-main-content>a{
    width:40%;
    margin-top:5%;
    display: flex;
    align-items: center;
    justify-content: center;
/*    text-align: center;*/
    float:left;

    background-color: #fff;
    color: #1E1E1E;
    border: 1px solid #EC221F;
}
#wrap-main-content>a:hover{
    background-color: #EC221F;
    color: #fff;
    border: 1px solid #EC221F;
}

#su-btn{
    margin-right:10%;
}
#buv-btn{

}


/*-------------feedback link at bottom for small device---*/
#feedback-link-bottom{
    display: none;
}

.navbar-toggler-icon{
    outline: none;
}


/*===========================*/
/* smallest iphone */
@media screen and (orientation: portrait) and (min-width: 344px) and (max-width: 413px){
    /*========== page 1 ===== introduction ========*/
    #intro-header{
        font-size:20px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:10px;
    }
    .main-content-btn{
        font-size:10px;
    }
    #wrap-main-content{
        padding:0;
        box-sizing: border-box;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 14px;
        font-weight: bold;
    }


    /*--------feedback link----------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:10px;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }

}

@media screen and (orientation: portrait) and (min-width: 414px) and (max-width: 576px) {
    /*========== page 1 ===== introduction ========*/
    #intro-header{
        font-size:24px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:12px;
    }
    .main-content-btn{
        font-size:12px;
    }
    #wrap-main-content{
        padding:0;
        box-sizing: border-box;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 16px;
        font-weight: bold;
    }


    /*--------feedback link----------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:3dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }


}

@media screen and (orientation: portrait) and (min-width: 577px) and (max-width: 666px) {
    /*========== page 1 ===== introduction ========*/
    #intro-header{
        font-size:24px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:12px;
    }
    .main-content-btn{
        font-size:12px;
    }
    #wrap-main-content{
        padding:0;
        box-sizing: border-box;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 16px;
        font-weight: bold;
    }


    /*--------feedback link----------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:5dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }


}



@media screen and (orientation: landscape) and (min-width: 667px) and (max-width: 767px) {
    #intro-header{
        font-size:28px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:12px;
    }
    .main-content-btn{
        font-size:12px;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 12px !important;
        margin-bottom: 5px;
/*        font-size: 12px;*/
    }
    #wrap-main-content{
        padding:0;
        box-sizing: border-box;
        font-size: 12px;
    }

    /*------------------*/
    #feedback-link-bottom{
        font-size:12px;
        display: block;
        position:absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    /*--------------*/
    .navbar-toggler-icon{
        position: relative;
        left:5dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
/*        left:70px !important;*/
    }

    /*-----logo school setting for horizontal mobile ------*/
    #header-navbar {
        height: 12dvh;
    }
}

@media screen and (orientation: portrait) and (min-width: 667px) and (max-width: 767px) {


    /*========== page 1 ===== introduction ========*/
    #intro-header{
        font-size:24px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:12px;
    }
    .main-content-btn{
        font-size:12px;
    }
    #wrap-main-content{
        padding:0;
        box-sizing: border-box;
    }
    #wrap-main-content a{
        width:45%;
        font-size: 16px;
        font-weight: bold;
        }


    /*--------feedback link----------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:7dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }

}



@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 852px) {
    #intro-header{
        font-size:30px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:14px;
    }
    .main-content-btn{
        font-size:14px;
    }
    #wrap-main-content a{
        width:45%;
        font-size: 14px;
    }

    /*------------------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:14px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*-----logo school setting for horizontal mobile ------*/
    #header-navbar {
        height: 12dvh;
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:10dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 852px) {
    #intro-header{
        font-size:30px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:18px;
    }
    .main-content-btn{
        font-size:18px;
    }
    #wrap-main-content a{
        width:45%;
        font-size: 18px;
    }

    /*------------------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:18px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*-----logo school setting for horizontal mobile ------*/
    #header-navbar {
        height: 12dvh;
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:10dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }

}



@media screen and (orientation: landscape) and (min-width: 853px) and (max-width: 920px){

    #intro-header{
        font-size:36px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:14px;
    }
    .main-content-btn{
        font-size:14px;
    }
    #wrap-main-content a{
        width:45%;
        font-size: 14px;
    }

    /*------------------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:14px;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    /*-----logo school setting for horizontal mobile ------*/
    #header-navbar {
        height: 12dvh;
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:3dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }

}

@media screen and (orientation: portrait) and (min-width: 853px) and (max-width: 920px){


    /*--------------*/
    #header-navbar{
        position: relative;
        height: 12dvh;
    }
    .navbar-toggler-icon{
        position:absolute;
        padding: 0 !important;
        bottom:0;
        left:10dvw;
    }

    .navbar-toggler-icon{
        position: relative;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }

}

/*!*Large devices (desktops, 992px and up)*!*/
@media screen and (orientation: landscape) and (min-width: 921px) and (max-width: 1024px){
    #intro-header{
        font-size:36px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:14px;
    }
    .main-content-btn{
        font-size:14px;
    }
    #wrap-main-content a{
        width:45%;
        font-size: 14px;
    }

    /*------------------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:14px;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    /*-----logo school setting for horizontal mobile ------*/
    #header-navbar {
        height: 12dvh;
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:3dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }
}

@media screen and (orientation: landscape) and (min-width: 1025px) and (max-width: 1200px){
    #intro-header{
        font-size:36px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:14px;
    }
    .main-content-btn{
        font-size:14px;
    }
    #wrap-main-content a{
        width:45%;
        font-size: 14px;
    }

    /*------------------*/
    #feedback-link-bottom{
        display: block;
        position:absolute;
        bottom:14px;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    /*-----logo school setting for horizontal mobile ------*/
    #header-navbar {
        height: 12dvh;
    }

    /*-----logo school setting for horizontal mobile ------*/
    .navbar-toggler-icon{
        position: relative;
        left:3dvw;
    }

    #logo-primary-small-screen{
        display: block;
        position: absolute;
        height:70%;
        top:15%;
    }
}



