@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body{
    margin:0;
    padding:0;
}


/*=============================* navbar*/
.container-fluid{
    background-color: #D91F27 !important;
/*    height: 10vh;*/
    position:relative;
}
.navbar-brand{
    height:30px;
}

#header-navbar {
    background-color: #D91F27 !important;
    position: relative;
    height: 8dvh;
    display: flex;
    align-items: center;
/*    justify-content: center;*/
}


#header-navbar button{
    background-color: #D91F27;
    color: #fff;
}
.menu-toggle {
    font-size: 24px;
    color: white;
    border: none;
    background: none;
}

/*=============================* sidebar both*/
.feedback-btn{
    color:#3D4586;
    border-radius: 45px;
    position:relative;
}
.feedback-btn:hover{
    font-weight: bold;
    color:#3D4586;
}
.feedback-btn-img{
    width:20px;
    position: absolute;
    top:7px;
    left:15px;
/*    background-color:green;*/
/*    bottom:0px;*/
}



.newchat-btn{
    background-color:#3D4586;
    color:#fff;
    border-radius: 45px;
    position:relative;
    border: 1.5px solid #3D4586;

}
.newchat-btn:hover{
    font-weight: bold;
    color:#3D4586;
}
.newchat-btn-img{
    width:20px;
    position: absolute;
    top:7px;
    left:15px;
/*    background-color:green;*/
/*    bottom:0px;*/
}
/*=============================* sidebar for Offcanvas*/
#offcanvasSidebar{
    width:250px;
    height: 100dvh;
}

#offcanvas-header{
    position:relative;
}
#offcanvas-header img{
    width: 90%;
}
#offcanvas-header button{
    position: absolute;
    right:0;
    top:50%;
    width: 5px;
    color:darkgray;
}
#offcanvas-bnt-feedback{
    position:relative;
/*    background-color:#fff;*/
}
/*=============================* sidebar for larger screen*/
.sidebar{
    background-color: #D91F27;
    height: 92dvh;
}
#sidebar-larger-screen{
    width:20%;
    position: relative !important;
/*    padding: 20px !important;*/
}
#sidebar-larger-screen>img{
    position:absolute;
    top:0;
    width:90%;
    left:5%;

}
#feedback-larger-screen{
/*    margin-top:50vh;*/
    position: absolute;
    background-color: #D91F27;
    left:0;
    bottom:5dvh;
    width: 90%;
    margin-left:5%;

}
#intro-header{

}


/*!*=============================* main content - SIS*!*/
#wrap-main-content{
    font-family: 'Plus Jakarta Sans', sans-serif;
/*    background-color: lightcyan;*/
}

#wrap-main-content h1{
    margin-bottom: 50px;
    margin-top: 2dvh !important;
}
#logo-primary-small-screen{
    display: none;
}

#intro-descr{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
#intro-descr>a{
/*    color:red;*/
    font-size: 16px !important;
}
/*----------awarding body button----------*/
/*#wrap-main-content a{*/
/*    width:40%;*/
/*    margin-top:10%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*!*    text-align: center;*!*/
/*    float:left;*/

/*    background-color: #fff;*/
/*    color: #1E1E1E;*/
/*    border: 1px solid #EC221F;*/
/*}*/
/*#wrap-main-content a:hover{*/
/*    background-color: #EC221F;*/
/*    color: #fff;*/
/*    border: 1px solid #EC221F;*/
/*}*/

#su-btn{
    margin-right:10%;
}
#buv-btn{

}

/*===========================*/
/* smallest iphone */
@media (min-width: 344px) and (max-width: 414px){
    #intro-header{
        font-size:20px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:12px;
    }
    .main-content-btn{
        font-size:12px;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 12px;
    }

    #chatbot-input-field{
        left:0 !important;
        padding:30px;
        width: 100% !important;
    }

    /*--------------*/
    #logo-primary-small-screen{
        display: block;
        width:50%;
    }


}

/*Small devices (landscape phones, 414px and up)*/
@media (min-width: 414px) and (max-width: 576px) {
    #intro-header{
        font-size:25px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:14px;
    }
    .main-content-btn{
        font-size:14px;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 14px;
    }


    #chatbot-input-field{
        left:0 !important;
        padding:30px;
        width: 100% !important;
    }

    /*--------------*/
    #logo-primary-small-screen{
        display: block;
        width:50%;
    }
}

/*Medium devices (landscape phones, 576px and up)*/
@media (min-width: 577px) and (max-width: 767px) {
    #intro-header{
        font-size:25px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:14px;
    }
    .main-content-btn{
        font-size:14px;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 14px;
    }

    #chatbot-input-field{
        left:0 !important;
        padding:30px !important;
        width: 100% !important;
    }

    /*--------------*/
    #logo-primary-small-screen{
        display: block;
        width:50%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px){
/*    #intro-header{*/
/*        font-size:46px;*/
/*        font-weight: bold;*/
/*    }*/
/*    #wrap-main-content>p{*/
/*        font-size:20px;*/
/*    }*/
/*    .main-content-btn{*/
/*        font-size:20px;*/
/*    }*/
/*    #wrap-main-content a{*/
/*        width:40%;*/
/*        font-size: 20px;*/
/*    }*/

/*    #chatbot-input-field{*/
/*        left:0 !important;*/
/*        padding:60px;*/
/*        width: 100% !important;*/
/*    }*/
    #intro-header{
        font-size:40px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:18px;

    }
    .main-content-btn{
        font-size:18px;
    }
    #wrap-main-content a{
        width:100%;
        font-size: 18px;
    }

    #chatbot-input-field{
        left:0 !important;
        padding:30px !important;
        width: 100% !important;
    }

    /*--------------*/
    #logo-primary-small-screen{
        display: block;
        width:50%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #intro-header{
        font-size:46px;
        font-weight: bold;
    }
    #wrap-main-content>p{
        font-size:20px;
    }
    .main-content-btn{
        font-size:20px;
    }
    #wrap-main-content a{
        width:40%;
        font-size: 20px;
    }

}

/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media (min-width: 1200px) {*/
/*}*/
/*.container-fluid{*/
/*    background-color: #D91F27 !important;*/
/*    height: 10vh;*/
/*    position:relative;*/
/*}*/

/*==================chatbot content==============*/
#main-content-div{
    position:relative;
}

#chatbot-input-field{
    position:absolute;
    top: 90%;
    left: 25%;
    width: 70%;
/*    background-color: lightblue;*/
}
#chatbot-input-field>input{
    border: 1px #D6BC97 solid;
}
#chatbot-input-field input{
}

/*----chatbot UI---*/
#send-btn{
    border: 0.5px #BB2634 solid;
    background-color: #BB2634;
/*    z-index: 10;*/
}
#send-btn:hover{
/*    background-color: #D91F27;*/
/*    border: 0.5px #D91F27 solid;*/
    box-shadow: 0 0 20px 5px rgba(187, 38, 52, 0.5)
}
#reset-btn{
    border: 0.5px #BB2634 solid;
    background-color: #BB2634;
/*    z-index:10;*/
}
#reset-btn:hover{
/*    background-color: #D91F27;*/
/*    border: 0.5px #D91F27 solid;*/
    box-shadow: 0 0 20px 5px rgba(187, 38, 52, 0.5)
}



/*----functional---*/
#chat-dialog {
    height: 70dvh;
    overflow-y: scroll;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
}
.user-message, .bot-message {
    display: flex;
    margin-bottom: 10px;

    word-wrap: break-word;
}
.user-message {
    justify-content: flex-end;
}
.user-message .text {
    background-color: #bb2634;
    color: #fff;
    border-radius: 7px 7px 0 7px;
    max-width: 80%;
    padding: 10px 12px 10px 12px;
}
.bot-message .text {
    position:relative;
    background-color: #fff;
    border-radius: 7px 7px 7px 0;
    max-width: 80%;
    padding: 10px 12px 10px 12px;
    border: 1px #D6BC97 solid;
}
.user-message .avatar {
    margin-left: 10px;
}
.bot-message .avatar {
    margin-right: 10px;
}
.input-area {
    display: flex;
    justify-content: space-between;
}
.input-area input {
    flex: 1;
    margin-right: 10px;
}
.btn-group {
    display: flex;
    gap: 5px;
}
/*---like/dislike images---*/
.bot-message{
    position:relative;

}
/*.bot-message img{*/
/*    position:absolute;*/
/*    bottom:0;*/
/*    left:0;*/
/*    background-color: #f1f1f1;*/
/*}*/
/*.bot-message img:hover{*/
/*    cursor: pointer;*/
/*    box-shadow: 0 0 20px 5px rgba(187, 38, 52, 0.5)*/
/*}*/
/*.text {*/
/*    background-color: green;*/
/*}*/
.rating-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    right:10px;
    bottom:10px;
}
.rating-icon:hover{
    cursor: pointer;
}
/*-------------------*/
#wrap-main-content{
/*    display: none;*/

}
#chat-dialog{
    display: none;
}
